body {
	border-style: solid inset;
	border-width: 6px;
	border-color: #ccd9d8;
	background-color: #080808;
	color: #5fba3d;
	font-family: monospace, prestige;
}

a {
	color: #5fba3d;
	text-decoration: underline;
}

.journaltop {
	background-color: #080808;
	color: #5fba3d;
}

h2 {
	color: #5fba3d;
	font-family: monospace, prestige;
}

img {
	width: 0px;
	height: 0px;
}

li {
	background-color: #080808;
}

.a {
	background-color: #080808;
}

.redback {
	background-color: #d5381a;
	color: #080808;
}

.blueback {
	background-color: #0034dc;
	color: #5fba3d;
}

.greenback {
	background-color: #5fba3d;
	color: #080808;
}

.yellowback {
	background-color: #e5df43;
	color: #d5381a;
}

.greyback {
	background-color: #888888;
	color: #ffffff;
}

.border {
	width: auto;
	height: auto;
	border-style: solid;
	border-width: 3px;
	border-color: #888888;
}

.image {
	width: auto;
	height: auto;
}

.footer {
	color: graytext; 
	padding: 10pt;
	text-align: center;
}

.showhide {
	color: #ddd;
	font-size: small;
}

.comment {
  color:gray;
  font-size: small;
}

.cancel {
  color: red;
  display: block;
  float: right;
  margin-left: 5px;
}
